
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}
table{
    background-color: white;
}

header {
    background-color: #067a06;
    color: white;
    padding: 20px 0;
    text-align: center;
}
nav a{
    color: #ccc;
    font-weight: bold;
}

h1, h2 {
    margin: 0.5em 0;
}

section {
    padding: 20px;
    margin: 10px auto;
    max-width: 800px;
    background-color: rgb(190, 245, 188);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}



#skills ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

#skills li {
    flex: 1 1 200px;
    margin: 5px;
    background-color: #b4f5bf;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
    
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #067a06;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #067a06;
}


footer {
    text-align: center;
    padding: 15px 0;
    background-color: #067a06;
    color: white;
    margin-top: 20px;
}